.article-news {

    .container {
        padding-top: 30px;
        padding-bottom: 30px;

        @media (min-width: 992px) {
            padding-top: 90px;
            padding-bottom: 70px;
        }

        .section-title {
            display: block;
            align-items: center;
            padding-bottom: 30px;

            .btn-transparent {
                background-color: white;

                &:hover {
                    background-color: #191919;
                    color: #F0EFE9;
                }
            }

            @media (min-width: 992px) {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
            }
        }

        .article-box {
            align-items: center;

            .article {

                a {
                    text-decoration: none;
                    color: #191919;

                    p {
                        color: #5E5E5E;
                        padding-top: 10px;
                    }

                    img {
                        width: 100%;
                    }
                }
            }

            @media (min-width: 992px) {
                display: flex;
                justify-content: space-between;
                gap: 30px;
                margin-bottom: 25px;

                .article {

                    a {
                        img {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        .center-btn {
            padding-top: 5px;
            gap: 12px;

            .active {
                img {
                    content: url(../images/b-dot.svg);
                }
            }

            #dot1,
            #dot2,
            #dot3,
            #dot4,
            #dot5 {
                &:hover {
                    transition-duration: 0.25s;
                    transition-timing-function: ease-in-out;
                    cursor: pointer;

                    img {
                        content: url(../images/b-dot.svg);
                    }
                }
            }
        }
    }
}