.partners {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding-top: 30px;
        padding-right: 0px;

        .partner {
            img {
                width: 100%;
                height: auto;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    @media (min-width: 992px) {
        .container {
            display: flex;
            justify-content: space-between;
            padding-top: 60px;
            margin-top: 20px;
            margin-bottom: 100px;

            @media (min-width: 1200px) {
                .partner {
                    img {
                        all: initial;
                    }
                }
            }
        }
    }
}