footer {
    background-color: #0E1021;
    color: #FFFFFF;
    position: relative;
    z-index: 0;
    padding-bottom: 40px;

    .container {
        align-items: center;
        padding-top: 40px;

        .wavy-line {
            position: absolute;
            z-index: -1;
            right: 0;
            bottom: 0;
        }

        .logotype {


            img {
                padding-bottom: 40px;
            }

            p {
                color: #c3c3c7;
                padding-bottom: 20px;
            }
        }

        .headlines {
            align-items: center;
            padding-bottom: 20px;

            h3 {
                font-family: 'DM Sans', sans-serif;
                font-size: 22px;
                font-weight: 700;
            }

            .footer-links {
                display: block;

                .footer-link {
                    display: block;
                    padding-top: 5px;

                    a {
                        color: #c3c3c7;
                        text-decoration: none;
                    }
                }
            }
        }

        @media (min-width: 992px) {
            display: flex;
            justify-content: space-between;
            padding-top: 80px;

            .logotype {
                flex: 0.5;
            }

            .headlines {

                h3 {
                    padding-bottom: 15px;
                }

                .footer-links {

                    .footer-link {
                        padding-top: 15px;
                    }
                }
            }
        }
    }
}